#avatar {
    width: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#name {
    float: left;
}

 #lifeline, #tip {
    float: right;
}

 main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

 main a {
    margin: 20px;
    text-decoration: none;
    font-size: 1.4em;
    color: #fff;
 }

 .profile {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;  
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 80px rgb(231, 8, 161);
    border-color: rgb(247, 229, 241);
    border: 6px solid;
    border-radius: 15px;
    font-size: 1.2em;
}